{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="product-page">
    <div class="product-page__header">      
        <h1 class="product-page__title">{{ title }}</h1>
    </div>

    <div class="product-page__content">
        <div class="product-page__image">
            <img src="{{ image }}" alt="{{ title }}" class="product-page__image-img">
        </div>
        <div class="product-page__details">
            <p class="product-page__details_description">{{ description }}</p>
            <p class="product-page__details_price">Цена: <span class="product-page__price-value">{{ price }} руб.</span></p>
            <p class="product-page__details_field">Осталось: <span class="product-page__quantity-value">{{ value }}</span></p>
            <p class="product-page__details_field">Категория: <span class="product-page__category-value">{{ category }}</span></p>
            <p class="product-page__details_field">Заказов: <span class="product-page__orders-value">{{ orders }}</span></p>
            <p class="product-page__details_field">Уровень конверсии: <span class="product-page__orders-value">{{ conversion_level }}</span></p>
            <p class="product-page__details_field">Просмотры за последнюю неделю: <span class="product-page__orders-value">{{ has_seen_for_last_week }}</span></p>
            <p class="product-page__details_field">Доход: <span class="product-page__orders-value">{{ income }}</span></p>
        </div>
    </div>
</div>
{% endblock %}
