{% extends 'base.html' %}
{% load static %}

{% block content %}
<form class="form" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <h1 class="form__title">Добавить товар</h1>
    <fieldset>
        <div class="form-group">
            <label for="title">Название:</label>
            <input type="text" id="title" name="title" required>
        </div>
        <div class="form-group">
            <label for="description">Описание:</label>
            <textarea id="description" name="description" required></textarea>
        </div>
        <div class="form-group">
            <label for="price">Цена:</label>
            <input type="number" id="price" name="price" step="0.01" min=1 required>
        </div>
        <div class="form-group">
            <label for="value">Количество:</label>
            <input type="number" id="value" name="value" min=1 required>
        </div>
        <div class="form-group">
            <label for="image">Изображение:</label>
            <input type="file" id="image" name="image" onchange="imagePreview()">
        </div>
        <div class="form-group">
            <label for="category">Категория:</label>
            <select id="category" name="category" required>
                <option value="">Выберите категорию</option>
                {% for category in categories %}
                    <option value="{{category}}">{{category}}</option>
                {% endfor %}
            </select>
        </div>
        <button type="submit">Добавить товар</button>
    </fieldset>
</form>



<br>

<div class="preview">
    <h2 class="form__title">Предпросмотр</h2>
    <div class="product-page">
        <div class="product-page__header">
            <h1 class="product-page__title"></h1>
        </div>

        <div class="product-page__content">
            <div class="product-page__image">
                <img src="{{ image }}" alt="img" class="product-page__image-img">
            </div>
            <div class="product-page__details">
                <p class="product-page__details_description"></p>
                <p class="product-page__details_price">Цена: <span class="product-page__price-value"> руб.</span></p>
                <p class="product-page__quantity">Осталось: <span class="product-page__quantity-value"></span></p>
                <p class="product-page__category">Категория: <span class="product-page__category-value"></span></p>
                <p class="product-page__orders">Заказов: <span class="product-page__orders-value"></span></p>

                <div disabled class="form">
                    {% csrf_token %}
                    <input disabled type="number" required value=1 name="value" min=1>
                    <button disabled type="submit" class="form__btn">Добавить в корзину</button>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="{% static 'js/create-good.js' %}">
</script>

{% endblock %}
