{% extends 'base.html' %}

{% block title %}Добавить товар{% endblock %}

{% block content %}
<form class="form" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <h1 class="form__title">Редактировать товар</h1>
    <fieldset>
        <div class="form-group">
            <label for="title">Название:</label>
            <input type="text" id="title" name="title" value="{{title}}" required>
        </div>
        <div class="form-group">
            <label for="description">Описание:</label>
            <textarea id="description" name="description" required>{{description}}</textarea>
        </div>
        <div class="form-group">
            <label for="price">Цена:</label>
            <input type="number" id="price" name="price" step="0.01" value="{{price}}" required>
        </div>
        <div class="form-group">
            <label for="value">Количество:</label>
            <input type="number" id="value" name="value" value="{{value}}" required>
        </div>
        <div class="form-group">
            <label for="image">Изображение:</label>
            <input type="file" id="image" name="image" value="{{image}}" onchange="imagePreview()">
        </div>
        <div class="form-group">
            <label for="category">Категория:</label>
            <select id="category" name="category" required>
                <option value="">Выберите категорию</option>
                {% for i in categories %}
                    <option value="{{i}}" {% if category == i %} selected {% endif %}>{{i}}</option>
                {% endfor %}
            </select>
        </div>
        <button type="submit">Подтвердить</button>
    </fieldset>
</form>



<br>

<h2 class="form__title">Предпросмотр</h2>
<div style="display: flex; gap: 20px; align-items: start; margin-bottom: 50px;">
    <div class="product-page">
        <div class="product-page__header">
            <h1 class="product-page__title"></h1>
        </div>

        <div class="product-page__content">
            <div class="product-page__image">
                <img src="{{ image }}" alt="img" class="product-page__image-img">
            </div>
            <div class="product-page__details">
                <p class="product-page__details_description"></p>
                <p class="product-page__details_price">Цена: <span class="product-page__price-value"> руб.</span></p>
                <p class="product-page__quantity">Осталось: <span class="product-page__quantity-value"></span></p>
                <p class="product-page__category">Категория: <span class="product-page__category-value"></span></p>
                <p class="product-page__orders">Заказов: <span class="product-page__orders-value"></span></p>

                <div disabled class="form">
                    {% csrf_token %}
                    <input disabled type="number" required value=1 name="value" min=1>
                    <button disabled type="submit" class="form__btn">Добавить в корзину</button>
                </div>
            </div>
        </div>
    </div>

    <div class="products__product">
        <div class="products__product__header">
            <img class="products__product__image" src="" alt="img">
            <h2 class="products__product__title"></h2>
        </div>
        <div class="products__product__body">
            <p class="products__product__description"></p>
            <p class="products__product__price">
                Цена: <span class="products__product__price-value"> руб.</span>
            </p>
            <p class="products__product__quantity">Осталось: <span class="products__product__quanity-value"></span> </p>
            <p class="products__product__category">Категория: <span class="products__product__category-value"></span></p>
            <p class="products__product__orders">Заказов: <span class="products__product__orders-value"></span></p>
        </div>
    </div>
</div>


<script>
    const price = document.querySelector('#price')
    const prePrice = document.querySelector('.product-page__price-value')
    const prePrices = document.querySelector('.products__product__price-value')

    const description = document.querySelector('#description')
    const preDesc = document.querySelector('.product-page__details_description')
    const preDescs = document.querySelector('.products__product__description')

    const title = document.querySelector('#title')
    const preTitle = document.querySelector('.product-page__title')
    const preTitles = document.querySelector('.products__product__title')

    const quanity = document.querySelector('#value')
    const preQuanity = document.querySelector('.product-page__quantity-value')
    const preQuanity_second = document.querySelector('.products__product__quanity-value')

    const category = document.querySelector('#category')
    const preCategory = document.querySelector('.product-page__category-value')
    const preCategories = document.querySelector('.products__product__category-value')

    const preImage = document.querySelector('.product-page__image-img')
    const preImages = document.querySelector('.products__product__image')

    price.addEventListener('change', function () {
            prePrice.textContent = price.value + ' руб.'
            prePrices.textContent = price.value + ' руб.'
        }
    )
    title.addEventListener('change', function () {
            preTitle.textContent = title.value
            preTitles.textContent = title.value
        }
    )
    description.addEventListener('change', function () {
            preDesc.textContent = description.value
            preDescs.textContent = description.value
        }
    )
    quanity.addEventListener('change', function () {
            preQuanity.textContent = quanity.value
            preQuanity_second.textContent = quanity.value
        }
    )
    category.addEventListener('change', function () {
            preCategory.textContent = category.value
            preCategories.textContent = category.value
        }
    )

    function imagePreview () {
        const image = document.querySelector("#image").files[0];
        const reader = new FileReader();

        reader.addEventListener(
            'load',
            function () {
                preImage.src = reader.result;
                preImages.src = reader.result;
            }
        )
        if (image) {
            reader.readAsDataURL(image);
        }
    }

    prePrice.textContent = price.value + ' руб.'
    prePrices.textContent = price.value + ' руб.'
    preTitle.textContent = title.value
    preTitles.textContent = title.value
    preDesc.textContent = description.value
    preDescs.textContent = description.value
    preQuanity.textContent = quanity.value
    preQuanity_second.textContent = quanity.value
    preCategory.textContent = category.value
    preCategories.textContent = category.value
    preImage.src = '{{image}}'
    preImages.src = '{{image}}'
</script>

{% endblock %}
