{% load static %}

<header class="header">
    <div class="container">
        <div class="header__wrapper">
            <div class="header__logo">
                <a href="{% url 'main' %}" class="header__logo-link">
                    <img src="{% static 'img/logo.png' %}" alt="Лого" class="header__logo-image">
                </a>
            </div>
            <nav class="header__nav">
                <ul class="header__nav-list">
                    <li class="header__nav-item">
                        <a href="{% url 'all_goods' %}" class="header__nav-link">Каталог</a>
                    </li>
                    <li class="header__nav-item">
                        <a href="#" class="header__nav-link">Обратная связь</a>
                    </li>
                </ul>
            </nav>
            <div class="header__nav__actions">
                {% if not user_instance.is_authenticated or user_instance == 'none' %}
                    <a href="{% url 'login' %}" class="header__nav__actions-link">Войти</a>
                    <a href="{% url 'registration' %}" class="header__nav__actions-link header__nav__actions-link--primary">Зарегистрироваться</a>
                {% else %}
                    <a href="{% url 'profile' %}" class="header__nav__actions-link">
                        <img src="{{ user.avatar.url }}" alt="Профиль" class="header__nav__actions-link-icon-profile header__nav__actions-link-icon">
                    </a>
                    <a href="{% url 'user_cart' %}" class="header__nav__actions-link">
                        <img src="{% static 'img/cart.png' %}" alt="Корзина" class="header__nav__actions-link-icon">
                    </a>
                    {% if user.is_staff %}
                        <a href="{% url 'add_good' %}" class="header__nav__actions-link">Добавить товар</a>
                        <a href="{% url 'admin_goods' %}" class="header__nav__actions-link">Аналитика</a>
                    {% endif %}
                    <form action="{% url 'logout' %}" method="post">
                        <button type="submit" class="header__nav__actions-link">Выход</button>
                    </form>
                {% endif %}
            </div>
        </div>
    </div>
</header>
